.u-section-1 .u-sheet-1 {
  min-height: 913px;
}

.u-section-1 .u-group-1 {
  width: 900px;
  min-height: 608px;
  background-image: none;
  margin: 197px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 18px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 52px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -72px 20px 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 551px;
  margin: 8px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 250px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  width: 80px;
  height: 80px;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: 23px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 250px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  width: 80px;
  height: 80px;
  color: rgb(17, 17, 17) !important;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin: 23px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 190px;
}

.u-section-1 .u-container-layout-4 {
  padding: 19px 30px;
}

.u-section-1 .u-icon-4 {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  margin: 24px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 190px;
}

.u-section-1 .u-container-layout-5 {
  padding: 19px 30px;
}

.u-section-1 .u-icon-5 {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  align-self: center;
  margin: 24px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 160px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 160px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 160px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 160px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 520px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 308px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 308px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 320px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 190px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 190px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 190px;
  }
}