 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1063px;
}

.u-section-1 .u-group-1 {
  width: 1057px;
  min-height: 991px;
  height: auto;
  margin: 36px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 50px 17px;
}

.u-section-1 .u-image-1 {
  width: 142px;
  height: 142px;
  background-image: url("/static/img/3980510dd88a59b9b1526cb98ec13db64216df319106c803f09cba83e4d0ae45b2eaa899eb66fa0bf878004219dd6c24acbf9f332724387caf579b_1280.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0;
}

.u-section-1 .u-form-1 {
  height: 722px;
  width: 757px;
  margin: -18px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
}

.u-section-1 .u-btn-2 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-form-1 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}