{% extends "baseA.html" %}
{% block title %}Agregar{% endblock %}
{% block estilo %}
<link rel="stylesheet" href="/static/css/Agregar.css" media=" screen"> {% endblock %}
{% block contenido %}
<section class="u-align-center u-clearfix u-section-1" id="sec-9642">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="u-align-left u-container-style u-group u-group-1">
      <div class="u-container-layout u-container-layout-1">
        <h2 class="u-text u-text-default u-text-1">Agregar</h2>
        <div class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"></div>
        <div class="u-form u-form-1">
          <form action="{{url_for('agregar')}}" method="POST" class="u-clearfix u-form-spacing-15 u-inner-form"
            style="padding: 15px;" source="custom" name="form">
            <div class="u-form-group u-form-textarea u-form-group-1">
              <label for="consulta" class="u-label">Habitaciones</label>
              <textarea rows="10" cols="50" id="consulta" name="consulta"
                class="u-border-1 u-border-grey-30 u-input u-input-rectangle">
                  {% with messages = get_flashed_messages() %}
                  {% if messages and not exito %}
                    {%for message in messages %}
                      {{message}}
                    {% endfor%}
                  {% endif %}
                  {% endwith %}
                </textarea>
            </div>
            <div class="u-align-center u-form-group u-form-submit">
              <a href="#" class="u-btn u-btn-submit u-button-style">Consultar<br>
              </a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
          </form>
        </div>
        <div class="u-form u-form-2">
          <form action="{{url_for('agregar')}}" method="POST" class="u-clearfix  u-form-spacing-15 u-inner-form"
            style="padding: 15px" source="custom">
            <div class="u-form-group u-form-name">
              <label for="crear" name="crear" class="u-form-control-hidden u-label">Name</label>
              <input type="text" placeholder="Identificador de la habitación (001)" id="crear" name="crear"
                class="u-border-1 u-border-grey-30 u-input u-input-rectangle">
            </div>
            <div class="u-align-center u-form-group u-form-submit">
              <a href="#" class="u-btn u-btn-submit u-button-style">Crear<br>
              </a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% with messages = get_flashed_messages(category_filter=["success"]) %}
{% if messages %}
{%for message in messages %}
<div class="alert alert-success text-center">{{message}}</div>
{% endfor%}
{% endif %}
{% endwith %}
{% endblock %}