{% extends "base.html" %}
{% block title %}Carrito{% endblock %}
{% block estilo %}
<link rel="stylesheet" href="/static/css/carrito.css" media=" screen"> {% endblock %}
{% block contenido %}

<section class="u-align-left u-clearfix u-grey-10 u-section-1" id="sec-000c">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-container-style u-group u-radius-50 u-shape-round u-white u-group-1">
      <div class="u-container-layout u-container-layout-1">
        <h1 class="u-text u-text-default u-text-1">CARRITO DE COMPRA</h1>
        <div class="u-border-3 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-1"></div>
        <div class="u-table u-table-responsive u-table-1">
          <table class="u-table-entity">
            <colgroup>
              <col width="25%">
              <col width="25%">
              <col width="25%">
              <col width="25%">
            </colgroup>
            <thead class="u-black u-table-header u-table-header-1">
              <tr style="height: 47px;">
                <th class="u-border-1 u-border-black u-table-cell">Column 1 </th>
                <th class="u-border-1 u-border-black u-table-cell">Column 2 </th>
                <th class="u-border-1 u-border-black u-table-cell">Column 3 </th>
                <th class="u-border-1 u-border-black u-table-cell">Column 4 </th>
              </tr>
            </thead>
            <tbody class="u-table-body">
              <tr style="height: 69px;">
                <td class="u-border-1 u-border-grey-30 u-table-cell">Row 1</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
              </tr>
              <tr style="height: 70px;">
                <td class="u-border-1 u-border-grey-30 u-table-cell">Row 2</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
              </tr>
              <tr style="height: 70px;">
                <td class="u-border-1 u-border-grey-30 u-table-cell">Row 3</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
              </tr>
              <tr style="height: 70px;">
                <td class="u-border-1 u-border-grey-30 u-table-cell">Row 4</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
              </tr>
            </tbody>
          </table>
        </div>
        <a href="https://nicepage.com/c/pets-animals-html-templates"
          class="u-btn u-btn-round u-button-style u-radius-50 u-btn-1">Realizar pedido</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}