{% extends "baseA.html" %}
{% block title %}Eliminar{% endblock %}
{% block estilo %}
<link rel="stylesheet" href="/static/css/Eliminar.css" media=" screen"> {% endblock %}
{% block contenido %}
<section class="u-align-center u-clearfix u-section-1" id="sec-9642">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="u-align-left u-container-style u-group u-group-1">
      <div class="u-container-layout u-container-layout-1">
        <h2 class="u-text u-text-default u-text-1">Eliminar</h2>
        <div class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"></div>
        <div class="u-form u-form-1">
          <form action="{{url_for('eliminar')}}" method="POST" class="u-clearfix u-form-spacing-10  u-inner-form"
            source="custom" name="form" style="padding: 10px;">
            <div class="u-form-group u-form-textarea u-form-group-1">
              <label for="consulta" name="consulta" class="u-label">Habitaciones</label>
              <textarea rows="10" cols="50" id="consulta" name="consulta"
                class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                  {% with messages = get_flashed_messages(category_filter=["info"]) %}
                  {% if messages and not exito %}
                    {%for message in messages %}
                    {{message}}
                    {% endfor%}
                  {% endif %}
                  {% endwith %}
                </textarea>
            </div>
            <div class="u-align-center u-form-group u-form-submit">
              <a href="#" class="u-btn u-btn-submit u-button-style">Consultar<br>
              </a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
          </form>
        </div>
        <div class="u-form u-form-2">
          <form action="{{url_for('eliminar')}}" method="POST" class="u-clearfix u-form-spacing-10  u-inner-form"
            source="custom" name="form" style="padding: 10px;">
            <div class="u-form-group u-form-group-3">
              <label for="eliminar" class="u-form-control-hidden u-label"></label>
              <input type="text" placeholder="Habitación a eliminar" id="eliminar" name="eliminar"
                class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
            </div>
            <div class="mt-3 u-form-checkbox u-form-group u-form-group-4">
              <input type="checkbox" id="confirma" name="confirma">
              <label for="confirma" class="u-label">Confirmar eliminación</label>
            </div>
            <div class="u-align-center u-form-group u-form-submit">
              <a href="#" class="u-btn u-btn-submit u-button-style">Eliminar<br>
              </a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% with messages = get_flashed_messages(category_filter=["error"]) %}
{% if messages %}
{%for message in messages %}
<div class="alert alert-danger text-center">{{message}}</div>
{% endfor%}
{% endif %}
{% endwith %}
{% with messages = get_flashed_messages(category_filter=["success"]) %}
{% if messages %}
{%for message in messages %}
<div class="alert alert-success text-center">{{message}}</div>
{% endfor%}
{% endif %}
{% endwith %}
{% endblock %}