{% extends "baseA.html" %}
{% block title %}Gestion{% endblock %}
{% block estilo %}
<link rel="stylesheet" href="/static/css/GestionComentarios.css" media=" screen"> {% endblock %}
{% block contenido %}
<section class="u-align-center u-clearfix u-section-1" id="sec-9642">

  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="u-align-left u-container-style u-group u-group-1">
      <div class="u-container-layout u-container-layout-1">
        <h2 class="u-text u-text-default u-text-1">Gestionar Comentarios</h2>
        <div class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"></div>
        <div class="u-form u-form-1">
          <form action="{{url_for('gestion')}}" method="POST" class="u-clearfix u-form-spacing-15  u-inner-form"
            style="padding: 15px;" source="custom" name="form">
            <div class="u-form-group u-form-partition-factor-4 u-form-textarea u-form-group-2">
              <label for="textarea-8ac3" class="u-label">Usuarios</label>
              <textarea rows="10" id="textarea-8ac3" name="ges_lista_com"
                class="u-border-1 u-border-grey-30 u-input u-input-rectangle">
                  {% with messages = get_flashed_messages(category_filter=["warning"]) %}
                  {% if messages %}
                    {%for message in messages %}
                  {{message}}
                    {% endfor%}
                  {% endif %}
                  {% endwith %}
                </textarea>
            </div>
            <div class="u-align-center u-form-group u-form-submit">
              <a href="#" class="u-btn u-btn-submit u-button-style">Consultar<br>
              </a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
          </form>
        </div>
        <div class="u-form u-form-2">
          <form action="{{url_for('gestion')}}" method="POST" class="u-clearfix u-form-spacing-15  u-inner-form"
            style="padding: 15px;" source="custom" name="form">
            <div class="u-form-group u-form-name">
              <label for="eliminar" class="u-form-control-hidden u-label"></label>
              <input type="text" id="eliminar" name="eliminar"
                class="mb-3 u-border-1 u-border-grey-30 u-input u-input-rectangle"
                placeholder="Identificador del usuario">
            </div>

            <div class="u-form-checkbox u-form-group u-form-group-8">
              <input type="checkbox" id="terminos" name="terminos">
              <label for="terminos" class="u-label">Confirmar eliminación</label>
            </div>
            <div class="u-align-center u-form-group u-form-submit">
              <a href="#" class="u-btn u-btn-submit u-button-style">Eliminar<br>
              </a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% with messages = get_flashed_messages(category_filter=["success"]) %}
{% if messages %}
{%for message in messages %}
<div class="alert alert-success text-center">{{message}}</div>
{% endfor%}
{% endif %}
{% endwith %}
{% endblock %}