{% extends "baseA.html" %}
{% block title %}Gestor Usuarios{% endblock %}
{% block estilo %}
<link rel="stylesheet" href="/static/css/superUser.css" media=" screen"> {% endblock %}
{% block contenido %}
<section class="u-align-center u-clearfix u-section-1" id="sec-9642">
  <div class=" u-clearfix u-sheet u-sheet-1">
    <div class=" u-align-left u-container-style u-group u-group-1">
      <div class="u-container-layout u-container-layout-1">
        <h2 class="u-text u-text-default u-text-1">Gestor de Usuarios</h2>
        <div class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"></div>
        <div class="u-form u-form-1">
          <form action="{{url_for('superUser')}}" method="POST" class="u-clearfix u-form-spacing-15  u-inner-form"
            style="padding: 15px;" source="custom" name="form">
            <div class="u-form-group u-form-group-2">
              <label for="rol" class="u-label">id-Nombre-Rol</label>
              <textarea rows="5" cols="50" id="rol" name="rol"
                class="u-border-1 u-border-grey-30 u-input u-input-rectangle">
                {% with messages = get_flashed_messages(category_filter=["info"]) %}
                {% if messages %}
                  {%for message in messages %}
                {{message}}
                  {% endfor%}
                {% endif %}
                {% endwith %}
              </textarea>
            </div>
            <div class="u-align-center u-form-group u-form-submit">
              <a class="u-btn u-btn-submit u-button-style">Consultar<br>
              </a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
          </form>
        </div>
        <div class="u-form u-form-2">
          <form action="{{url_for('superUser')}}" method="POST" class="u-clearfix u-form-spacing-15  u-inner-form"
            style="padding: 15px;" source="custom" name="form">
            <div class="u-form-group u-form-group-4">
              <label for="id" class="u-form-control-hidden u-label"></label>
              <input type="text" placeholder="Identificador de usuario" id="id" name="id"
                class="mb-3 u-border-1 u-border-grey-30 u-input u-input-rectangle">
            </div>
            <div class="u-form-group u-form-group-5">
              <label for="nuevo" class="u-form-control-hidden u-label"></label>
              <input type="text" placeholder="Ingrese el nuevo nombre(opcional)" id="nuevo" name="nuevo"
                class="mb-3 u-border-1 u-border-grey-30 u-input u-input-rectangle">
            </div>
            <div class="u-form-group u-form-select u-form-group-6">
              <label for="estado" class="u-label">Rol</label>
              <div class="u-form-select-wrapper">
                <select id="estado" name="estado" class="u-border-1 u-border-grey-30 u-input u-input-rectangle">
                  <option value="Admin">Admin</option>
                  <option value="Usuario">Usuario</option>
                </select>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret">
                  <path fill="currentColor" d="M4 8L0 4h8z"></path>
                </svg>
              </div>
            </div>
            <div class="u-align-center u-form-group u-form-submit">
              <a class="u-btn u-btn-submit u-button-style">Editar<br>
              </a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
          </form>
        </div>
        <div class="u-form u-form-3">
          <form action="{{url_for('superUser')}}" method="POST" class="u-clearfix u-form-spacing-15  u-inner-form"
            style="padding: 15px;" source="custom" name="form">
            <div class="u-form-group u-form-group-8">
              <label for="eliminar" class="u-label">Usuario a eliminar</label>
              <input type="text" placeholder="Identificador de usuario" id="eliminar" name="eliminar"
                class="u-border-1 u-border-grey-30 u-input u-input-rectangle">
            </div>
            <div class="mt-3 u-form-checkbox u-form-group u-form-group-4">
              <input type="checkbox" id="confirmar" name="confirmar">
              <label for="confirmar" class="u-label">Confirmar eliminación</label>
            </div>
            <div class="u-align-center u-form-group u-form-submit">
              <a class="u-btn u-btn-submit u-button-style">Eliminar<br>
              </a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% with messages = get_flashed_messages(category_filter=["error"]) %}
{% if messages %}
{%for message in messages %}
<div class="alert alert-danger text-center">{{message}}</div>
{% endfor%}
{% endif %}
{% endwith %}
{% with messages = get_flashed_messages(category_filter=["success"]) %}
{% if messages %}
{%for message in messages %}
<div class="alert alert-success text-center">{{message}}</div>
{% endfor%}
{% endif %}
{% endwith %}
{% endblock %}